@import "tailwindcss";
@import "tw-animate-css";
@import "./styles/theme.css";

@custom-variant dark (&:is(.dark *));

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.9),
        rgba(255, 255, 255, 0.9)
      ),
      linear-gradient(0deg, #007aff, #007aff);
  }
}
